.form-signin {
width: 100%;
max-width: 330px;
padding: 15px;
margin: auto;
}


.form-signin .form-control {
position: relative;
box-sizing: border-box;
height: auto;
padding: 10px;
font-size: 16px;
}
.form-signin .form-control:focus {
z-index: 2;
}
.form-signin input[type="text"] {
margin:20px 0 10px 0;
border-bottom-right-radius: 0;
border-bottom-left-radius: 0;
text-align: center;
}
.form-signin input[type="password"] {
margin-bottom: 10px;
border-top-left-radius: 0;
border-top-right-radius: 0;
text-align: center;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }


  /*  Home   */

#table-container{
  width: 95%;
  margin:auto;
  height: auto;
  overflow-y: auto;
  overflow-x: auto;
  max-height: 500px;
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
}

.table-striped{
  color: #333;
  border-collapse: collapse;
  width: 100%;
  padding: 0px;
}

.table-striped th, td{
  height: 10px;
  white-space: nowrap;
  padding: 0px;
}

.table-striped th{ 
  background-color: rgb(173, 173, 173);
  position: sticky;
  top: 0;
  box-shadow: 0px 1px 0px 0px rgb(0, 0, 0, 0.1);
  padding: 15px;
  font-size: 18px;
}

.action{
  margin: 0;
  padding: 2px 10px;
  font-size: 12px;
}

#button-container{
  display: inline-flex;
  padding: 20px 30px 20px 30px;
  width: 100%;
  padding-left: 100px;
}

#search-container{
 width: 40%;
 display: inline-flex;
 margin: 0 20% 0 20%;
}

#searchbtn{
  width: 20%;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

#searchip{
  width: 80%;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}


/*  ADD IP   */
#add-container{
  width: 80%;
  margin: 4rem auto;
}

.form-control{
  text-align:center;
  text-align-last:center;
}  